:root {
	--ffRobotoReg: 'Roboto-Regular';
	--ffRobotoLI: 'Roboto-LightItalic';
	--ffMonserratBolt: 'Montserrat-Bold';
	--ffMonserratReg: 'Montserrat-Regular';
	--ffKaushanScriptReg: 'KaushanScript-Regular';
	--main-color: #95e1d3;
	--underline-color: #f38181;
	--title-color: #333333;
	--paragraph-color: #b6b6b6;
}